body{
    font-size:1.2rem;
    }
    .quadrado{
    width: 100px;
    height: 100px;
    display:inline-block;
    }

    .ret{
        width: 100px;
        height: 500px;
        margin-top: 10px;
        overflow: auto;
    }

   .sticky{
       position:sticky;
       top:0px;
   }

    .bg-red{
     background-color:red;
    }

    .bg-blue{
    background-color:blue;
    }

    .bg-green{
        background-color:green;
    }